<div class="row">
  <div class="col-md-2">
    <button class="actionBtn" (click)="triggerSnapshot()">Take A Snapshot</button>
  </div>
  <div class="col-md-2">
    <button class="actionBtn" (click)="cleanImage()" *ngIf="webcamImage">clean Image</button>
  </div>
  <div class="col-md-2" *ngIf="webcamImage">
    <button class="actionBtn" (click)="registerImage()">Register Image</button>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <webcam [height]="500" [width]="500" [trigger]="triggerObservable" (imageCapture)="handleImage($event)"></webcam>
  </div>
  <div class="col-md-6">
    <div style="width:500px; height: 500px;" class="snapshot" *ngIf="webcamImage">
      <h2>Nice one!</h2>
      <img [src]="webcamImage.imageAsDataUrl" />
    </div>
  </div>
</div>